


<div class="pb-0">
  <%= render "action", job: @job, status: @status %>
</div>

<div class="flex gap-x-4 py-6 w-full">
  <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="<%= logo_helper(company_name: "Broadwick") %>" alt="">
  <div class="flex items-center">
    <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white"><%= @job.title %></h1>
  </div>
</div>

<div class="flex justify-between">
  <div class="flex-auto">
    <div class="flex items-start gap-x-3">
      <div class="text-sm/6 font-medium text-gray-900"> <%= @job.employer %></div>
      <%= render "status", status: @status %>
    </div>
    <div class="mt-1 text-xs/5 text-gray-500"><%= @job.location %></div>
  </div>


  <div class="text-right">
    <div class="flex justify-end">

      <%= link_to "View", @job.url, class: "text-sm/6 font-medium text-indigo-600 hover:text-indigo-500"%>

      <span class="sr-only">, invoice #00012, Reform</span></a>
    </div>
    <div class="mt-1 text-xs/5 text-gray-500">Posted <%= @job.created_at.strftime("%-d %b, %Y, %-l:%M%P") %></div>
  </div>
</div>

<hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10 dark:border-white/10">

<%= @job.html_content.html_safe %>
