


<div class="pb-0">
  <%= render "action", job: @job, status: @status %>
</div>


  <div class="relative flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="<%= employer_logo_helper(employer: @job.employer) %>" alt="">
      <div class="min-w-0 flex-auto">
        <div class="flex items-start gap-x-3">
          <p class="text-sm font-semibold leading-6 text-gray-900 ">
              <%= @job.title %>
          </p>

          <%= render "status", status: @status %>
        </div>
        <p class="mt-1 flex text-xs leading-5 text-gray-500 items-center">
          <%= @job.employer.name %>
        </p>
      </div>
    </div>
    <div class="flex shrink-0 items-center gap-x-4">
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="flex mt-1 text-xs leading-5 text-gray-500 text-left gap-x-4 w-full">
          <img class="h-5 w-5 flex-none rounded-full bg-gray-50" src="<%= board_logo_helper(board: @job.board) %>" alt="">
          <%= @job.board %>
        </p>
        <p class="mt-1 text-xs leading-5 text-gray-500">Posted <%= @job.created_at.strftime("%-d %b, %Y, %-l:%M%P") %></p>
      </div>
      <%= link_to "View", @job.url, class: "text-sm/6 font-medium text-indigo-600 hover:text-indigo-500"%>
    </div>
  </div>

<hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10">

<%= @job.html_content.html_safe %>
