


<div class="relative flex justify-between gap-x-6 py-5">
  <div>
    <h1 class="text-2xl font-semibold leading-6 text-gray-900 ">
      <%= @job.title %>
    </h1>
    <div class="[&>*]:leading-5 [&>*]:mt-1">
      <p>
        <%= @job.employer.name %>
      </p>
      <p>
        <%= @job.location %>
      </p>
      <p class="text-xs leading-5 text-gray-500">
        Posted <%= @job.created_at.strftime("%-d %b, %Y, %-l:%M%P") %>
      </p>
    </div>
  </div>

  <div class="flex items-center justify-center">
    <img class="h-20 object-scale-down" src="<%= employer_logo_helper(employer: @job.employer) %>" alt="">
  </div>
</div>

<div class="flex justify-between">
  <%= render "status", status: @status %>
  <%= render "action", job: @job, status: @status %>
</div>

<hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10">

<%= @job.html_content.html_safe %>
