<div class="flex min-w-0 gap-x-4">
  <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="<%= image_path("logos/#{@job.company_name.downcase}.jpg") %>" alt="">
  <div class="min-w-0 flex-auto space-y-2">
   <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white"><%= @job.title %></h1>
    <div class="flex space-x-2">
      <div>
        <%= @job.company_name %>
      </div>
      <% if @status == :saved %>
        <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
          <svg class="size-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
            <circle cx="3" cy="3" r="3" />
          </svg>
          Saved
        </span>
      <% elsif @status == :rejected  %>
        <span class="inline-flex items-center gap-x-1.5 rounded-full px-2 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200">
          <svg class="size-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
            <circle cx="3" cy="3" r="3" />
          </svg>
          Rejected
        </span>
      <% end %>
    </div>
    <p class="mt-1 text-xs leading-5 text-gray-500">Posted <%= @job.created_at.strftime("%-d %b, %Y, %-l:%M%P") %></p>
  </div>
</div>

<hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10 dark:border-white/10">

<p><%= Faker::Quote.matz %></p>

<div class="mt-6 flex items-center justify-end gap-x-6">
  <%= link_to "Back to jobs", account_path, class: "text-sm font-semibold leading-6 text-gray-900" %>

  <% if @status == :saved %>
      <%= button_to "Reject job", job_rejects_path(job_id: @job.id), method: :post, class: "rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  <% elsif @status == :rejected %>
      <%= button_to "Save job", job_saves_path(job_id: @job.id), method: :post, class: "rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  <% else %>
    <%= button_to "Reject job", job_rejects_path(job_id: @job.id), method: :post, class: "rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
    <%= button_to "Save job", job_saves_path(job_id: @job.id), method: :post, class: "rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  <% end %>
</div>
